
<div class="row">
    <div class="col-md-6 col-md-offset-3">
<%= form_for(@cand) do |f| %>
  <% if @cand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cand.errors.count, "error") %> prohibited this cand from being saved:</h2>

      <ul>
      <% @cand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    </div>
</div> 


<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@cand) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
  
        <%= f.label :card_id %>
        <%= f.text_field :card_id %>
  
        <%= f.label :password %>
        <%= f.password_field :password %>
  
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation  %>
  
        <%= f.submit "צור חשבון", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <% end %>