<p id="notice"><%= notice %></p>

<h1>Cands</h1>

<h2>there is  <%=  @cands.count %> in the database </h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>card id</th>
      <th>created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cands.each do |cand| %>
      <tr>
        <td><%=cand.name%></td>
        <td><%=cand.card_id%></td>
        <td><%=cand.created_at%></td>
        <td><%= link_to 'Show', cand %></td>
        <td><%= link_to 'Edit', edit_cand_path(cand) %></td>
        <td><%= link_to 'Destroy', cand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cand', new_cand_path %>
