<p id="notice"><%= notice %></p>
<h1>
    <%=@user.name%>   
<%= @user.tz %>

</h1>

<p>

   <% @bucketName = Digest::MD5::hexdigest(@user.tz).to_s%> 
</p>

<h1>photo with weed</h1>
<%= image_tag @user.get_image_url(1)%> 
<br>
<br>
<h1>photo with card</h1>
<%=  image_tag  @user.get_image_url(2)
%>
<br>
<br>
<h1>photo of card</h1>
<%= image_tag  @user.get_image_url(3)
 %>
 <br>
 <br>
<h1>page photo</h1>

<%= image_tag  @user.get_image_url(4)
%>



<% if @user.uid == nil %>
<h1>social photo</h1>
<%= image_tag  @user.get_image_url(5)
%>
<% else %>
<h1>פייסבוק מחובר</h1>

<% end%>