<h1>תנאי השימוש באתר מדינת הדרדסים</h1>



<p>
<h3>
    1.  אתר "מדינת הדרדסים" (להלן: "האתר") המצוי בבעלות קואפרטיב ירקות סצפון קוריאה (להלן: "החברה") מציע לגולשים ברשת האינטרנט (להלן: "המשתמשים") מידע בתחומים שונים, לרבות בתחום הפירות והירקות (כלל המידע באתר יקרא להלן- "המידע"), 
    השימוש באתר כפוף ומותנה בהסכמת המשתמשים לאמור בתקנון זה. השימוש באתר מעיד על הסכמת המשתמש לתנאים אלה. תנאי השימוש באתר מנוסחים בלשון זכר מטעמי נוחות בלבד והם מתייחסים לגברים ולנשים כאחת. שימוש באתרי אינטרנט אחרים השייכים לחברה ו/או פועלים בשיתוף פעולה איתה, באמצעות קישורים ו/או דפי אינטרנט משותפים, כפופים להוראות תקנון זה, כמו גם להוראות תקנוניהם.
   </h3> 
   <br>
   <br>
   <h3>   
    2.  הקואפרטיב אינו אחראי  למידע שמתפרסם על ידי המשתמשים והוא אינו נעשה מטעמה. החברה לא תישא בכל אחריות למידע, מודעות או כל הצעות שיתפרסמו באתר מטעם המשתמשים או לכל תוצאה שתנבע כתוצאה משימוש במידע זה ו/או הסתמכות עליו.
</h3> 
<br>
<br>
    <h3>   
    3.  הקואפרטיב אינו מתחייב, כי השימוש במידע באתר לא יופרע, ינתן כסדרו, בלא הפסקות, יתקיים בבטחה ללא טעויות או יהיה חסין מפני נזקים, קלקולים, תקלות או כשלים. החברה והספקים פועלים במידת האפשר על מנת שהמידע יהיה נכון ומדויק ככל שניתן, אולם על אף האמור ייתכן ויחול ליקוי ו/או טעות ו/או אי דיוק במידע ו/או בדרך העברתו אליך.
</h3> 
<br>
<br>
    <h3>  
    4.  הקואפרטיב לרבות חבריהם, לא יהיו אחראים בגין כל נזק, ישיר או עקיף, שיגרם לך ו/או לכל צד שלישי בגין השימוש במידע ו/או הסתמכות עליו ו/או בגין ביטול ו/או הפסקת איזה מהשירותים המוצעים באתר לרבות בגין שיבושים ו/או ליקויים בהעברת המידע בין אם נגרמו במזיד על ידי צד ג' כלשהו ובין אם נגרמו בשל תקלה כלשהי.
</h3> 
<br>
<br>
    <h3>
    5. הינך מתחייב להשתמש במידע ובשירותים המוצעים באתר בהתאם לדרישות כל דין ובכפוף להנחיות ולהוראות באתר. הינך מתחייב שלא לפגוע בחברה או במשתמשים אחרים של האתר או ברשת האינטרנט בכלל, ובכלל זה הינך מתחייב להימנע מכל פגיעה ביכולתם ליהנות או להשתתף בשירותים הניתנים באתר. איסור זה כולל גם משלוח דואר זבל, מכתבי שרשרת, משחקי פירמידה או כל נסיון למסור מידע או להציע שירותים שהמשתמשים או החברה אינם מעוניינים בהם. הינך מתחייב להימנע לחלוטין מנסיון לאיסוף מידע על האתר באמצעות תוכנות מחשב וכן להימנע מעריכת שינויים בלתי מורשים בקוד התוכנה של האתר.
</h3> 
<br>
<br>
    <h3> 
    6.  אין לפרסם ברבים את המידע ו/או כל חלק ממנו, אלא בתנאים כמפורט באתר, ואין לפרסם ברבים כל מוצר ו/או פלט של המידע, בין שהוא מודפס כשרטוט או כדו"ח ובין שהוא ניתן כקובץ על גבי אמצעים מגנטיים או בכל צורה אחרת ואין לשכפל, לצלם, להעתיק ו/או להדפיס כל מוצר ו/או פלט כאמור לעיל מתוך המידע או כל חלק ממנו לצורך הפצה או פרסום בכל דרך שהיא. כן, אין לאפשר, בין במישרין ובין בעקיפין, בין בתמורה ובין ללא תמורה, את ביצוע אחת או יותר מהפעולות המפורטות לעיל.
</h3> 
<br>
<br>
    <h3> 
    7.  כל העתקה, הפצה, משלוח, שידור או פרסום של מידע ו/או פריט תוכן כלשהו המוצג באתר ו/או אשר הוצג בעבר באתר ו/או המאוחסן בבסיס הנתונים של האתר אסורים בהחלט אלא אם ניתן לכך אישור רשמי ומפורש, וכן נתנה לכך הסכמת ברורה של נציג רשמי ומוסמך של הקואפרטיב מראש ובכתב.
</h3> 
<br>
<br>
    <h3>  
    8. זכויות היוצרים, זכויות הפטנטים, הסודות המסחריים, זכויות הבעלות במידע לרבות זכויות ההפצה וכל קנין רוחני אחר במידע הינם בבעלות הקואפרטיב ולמשתמש לא תהיה כל זכות מכל סוג שהיא במידע.
</h3> 
<br>
<br>

</p>