<style>
    
 
         .center {
           text-align: center;
           margin: auto;
           width: 60%;
           border: 1px solid rgb(14, 167, 83);
           padding: 10px;
       }
 
       .submit {
         text-align: center;
         margin: auto;
         width: 60%;
         padding: 10px;
     }
 
 
 
       .photo{
         display: block;
         margin: auto;
       }
 
       div {
         border-radius: 5px;
         background-color: #f2f2f2;
         padding: 20px;
     }
         </style>
 
 <script>
     
 
 
 var weedPhoto =false;
 var cardSelfi =false;
 var pagePhoto =false;
 var socialPhoto =false;
 var onlyCardPhoto=false;
 
 function checkPhotos(){
 if(weedPhoto && cardSelfi && pagePhoto && socialPhoto && onlyCardPhoto){
 
 
 return true;
 }
 return false;
 }
 
 
 
 function validFacebook(url){
   if (/(?:(?:http|https):\/\/)?(?:www.)?facebook.com\/?/.test(url)){ 
       document.getElementById("fb_error").style.display="none";
       document.getElementById("fb_ok").style.display="block";
     return true;
   }
   document.getElementById("fb_ok").style.display="none";
   document.getElementById("fb_error").style.display="block";
   return false;
 }
 
       function uploadPhoto(input) {
           
           var file = input.files[0];
           if(file ===null){
             return;
           }
           var fileType=""+ file.type ;
          // console.log(file.type);
         if(fileType === "image/png" || fileType === "image/jpeg" || fileType === "image/jpg" ){
 //input.style.display="none";
         }else{
 console.log("not a valid file type!!!")
 input.value="";
 
 return;            
         }
        
 
         if (input.files && file) {
             var reader = new FileReader();
             reader.onload = function (e) {
 //console.log(e);
 //console.log(e.target);
 //console.log(e.target.result);
                
 switch(input.id){
 case "cand_photo_with_weed":
  $('#photoWithWeedPreview')
  .attr('src', e.target.result).attr("style" , "display:block");
   weedPhoto =true;
   console.log(checkPhotos());
 break;
 
 case  "cand_photo_with_card": 
   
 $('#photoWithCardPreview')
 .attr('src', e.target.result).attr("style" , "display:block");
 cardSelfi =true;
 console.log(checkPhotos());
 break;
 
 case "cand_page_photo": 
 
 $('#pagePhotoPreview')
 .attr('src', e.target.result).attr("style" , "display:block");
 pagePhoto =true;
 console.log(checkPhotos());
 break;
 
 case "cand_social_photo": //socialPhoto
 $('#socialPhotoPreview')
 .attr('src', e.target.result).attr("style" , "display:block");
 socialPhoto =true;
 console.log(checkPhotos());
 
 break;
 
 case "cand_photo_of_card":
 $('#onlyCardPhotoPreview')
 .attr('src', e.target.result).attr("style" , "display:block");
 onlyCardPhoto =true;
 console.log(checkPhotos());
 
 break;
 
 
 }
 
 
             };
 
         reader.readAsDataURL(file);
        
         }
  }
 
 
 
 
 
 
       function facebookClick(){
 
    console.log(validFacebook(document.getElementById("facebook_link").value));
 
 
 
 
 
       }
 
      // function finishLoad() {
        // document.getElementById("loader").style.display = "none";
         //document.getElementById("photoWithWeedPreview").style.display = "block";
         //document.getElementById("text_selfi_with_weed").innerText ="done!";
     //}
       
 
 </script>
     
     
 
 
       
 <div>
 
    
 
    <div >
 <h1><strong> שלב ב' בהרשמה</strong></h1>
 <br>
 <br>
  
 
 
 <%= form_for :user ,  :url => {:action => 'post_photos'}, html: { multipart: true } do |f| %>
 
  
   
       <div  class="center">
 <img src="#" id="photoWithWeedPreview" class="photoWithWeedPreview" style="display: none;"> 
    <!-- <%= f.label :photo_with_weed %>
    -->
    <h5><strong>
      העלו תמונה עם סחורה , לפחות 50 גרם
   </strong></h5>
     <%= f.file_field :photo_with_weed ,  class: 'photo_upload' , id:"cand_photo_with_weed" %>
   </div>
   
 <br>
 <br>
 <br>
  
 
 <br>
 
       <div  class="center">
       <img src="#" id="photoWithCardPreview" class="photo" style="display: none;">
       <h5><strong>
 
         העלו תמונה עם תעודה מזהה : תעודת זהות , חוגר , דרכון או רישיון נהיגה 
        </strong></h5>
     <%= f.file_field :photo_with_card , class: 'photo_upload' , id: "cand_photo_with_card"%>
   </div>
 
 
      
 <br>
 <br>
 
 <br>
 <br>
  
 
   
 
   <div  class="center"> 
   <img src="#" id="onlyCardPhotoPreview" class="photo" style="display: none;">
   <h5><strong> עכשיו צילום ברור של התעודה לבד </strong></h5>
     <%= f.file_field :photo_of_card , class:'photo_upload' ,id:"cand_photo_of_card" %>
   </div>
        
 <br>
 <br>
 
 <br>
 <br>
  
 
   
 
   <div  class="center">
     <img src="#" id="pagePhotoPreview" class="photo" style="display: none;"> 
    
 
     <h5><strong> צלם והעלה, דף שרשום עליו את הפרטים הבאים ופזר סחורה מעל הדף אבל שלא יסתיר את הטקסט</strong></h5>
   <p><strong> היוזר שלך  ,
  תאריך ,
  שעה  ,
  מחיר ,
  אזור חלוקה 
  </strong> </p> 
   
     <%= f.file_field :page_photo , class: 'photo_upload' , id: "cand_page_photo"   %>
   </div>
 
       
 <br>
 <br>
  
 

 
  
 <br>
 <br>
  
 
   
 
   <div  class="center">

     
     <% if current_user %>
         <h1> אתה מחובר לפייסבוק</h1>
     <%else%>
     <h5 ><strong id="fb_title"> העלה צילום של תלוש משכורת או פרטי קופת חולים </strong></h5>

<div id="social_photo_mode"  >
         <img src="#" id="socialPhotoPreview" class="photo" style="display:none;">
         <%= f.file_field :social_photo , class:'photo_upload' ,id: "cand_social_photo" %>
     </div>
     <%end%>
   
     
 
   </div>
      
   <br>
   <br>
    
   <br>
   <br>
    
   
     
   
     <div  class="submit">
         <%= f.submit 'שלח טופס', class:"btn btn-primary" %>
     </div>
 <% end %>
 
   
    </body>
 
 
 
 
  
          
 
          
 <script>
     
     $(".photo_upload").change(function(){
       // readURL(this);
 
       uploadPhoto(this);
     });
       
 var facebookLinkIsVisable = true;
     function tongleFacbook(){
       document.getElementById("fb_ok").style.display="none";
       document.getElementById("fb_error").style.display="none";
       var fbLink = document.getElementById("fb_link_mode");
       var social_photo_button =document.getElementById("social_photo_mode");
       var btn = document.getElementById("no_fb_btn");
       var title = document.getElementById("fb_title");
       if(facebookLinkIsVisable){
         fbLink.style.display="none";
         social_photo_button.style.display = "inline-block";
         facebookLinkIsVisable = false;
         btn.innerHTML="יש לי פייסבוק";
         title.innerHTML=" העלה צילום של תלוש משכורת או פרטי קופת חולים ";
         
       }else{
         fbLink.style.display="inline-block";
         social_photo_button.style.display= "none";
         facebookLinkIsVisable = true;
         btn.innerHTML ="אין לי פייסבוק" ;
         title.innerHTML=" כל מה שנשאר עכשיו זה להעלות קישור לפרופיל הפייסבוק שלך ";
       }
 
     }
   
 </script>

 