
<style>
        .center {
            text-align: center;
            margin: auto;
            width: 60%;
            border: 1px solid rgb(14, 167, 83);
            padding: 10px;
        }
        .center_fb {
            text-align: center;
            margin: auto;
            width: 60%;
            border: 1px solid rgb(31, 67, 231);
            padding: 10px;
        }
</style>

<h1>ברוך הבא למדינת הדרדסים</h1>





<div class="center">
<h3><strong>
    
במדינת הדרדסים דרדסבא מנהל את העניינים , אם הגעת עד לפה
    <br> סימן שקיבלת אישור רישמי מדרדסבא להיכנס 

    <br>  
    <br>  <%= image_tag  "dardasim.jpg" %>
    <br>  
 <br>    אתה יכול להתחבר דרך פייסבוק
 </strong>
</h3>
</div>
<div class="center_fb">


  <%= link_to "התחבר עם פייסבוק", "/auth/facebook?user_id=#{@user.id}", id: "sign_in" %>  




