@import "bootstrap-sprockets";
@import "bootstrap";




/* universal */


  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }



  /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
  .center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }






  }



  @mixin box_sizing {
      align-content: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  


/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 60%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  
  input {
    justify-content: flex-start;
   // height:60px;
    height: auto !important;
  }
 
  
  
 
    

