<!DOCTYPE html>
<html>
  <head>
    <title>Dealrs</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     
      <div id="user_nav" style="display:none">
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "התנתק", signout_path, id: "sign_out" %>
          <% else %>
          <%= link_to "התחבר עם פייסבוק", "/auth/facebook?user_id=#{1}", id: "sign_in" %>  
           
          <% end %>
        </div>
   
    
    <%= yield %>
  </body>
</html>
